<ul>
    <li>
        <a href="/">Home Page</a>
    </li>

    {{#if isLogin}}
        <li>
            <a href="/api/sessions/current">Perfil</a>
        </li>
        <li>
            <a href="/api/sessions/logout">Logout</a>
        </li>
    {{else}}
        <li>
            <a href="/registro">Registrarse</a>
        </li>
        <li>
            <a href="/login">Iniciar session email</a>
        </li>
        <li>
            <a href="/api/sessions/github">Iniciar session github</a>
        </li>
    {{/if}}



</ul>